<div class="toolbar-container">
  <app-tool
    [toolItems]="fileItems"
    [toolGroupName]="files"
    (eventoEnviarDatos)="setSelectedTool($event)"
  ></app-tool>
  <app-tool
    [toolItems]="actionItems"
    [toolGroupName]="actions"
    (eventoEnviarDatos)="setSelectedTool($event)"
  ></app-tool>

  <app-tool
    [toolItems]="shapeItems"
    [toolGroupName]="shapes"
    (eventoEnviarDatos)="setSelectedTool($event)"
  ></app-tool>
  <app-tool
    [toolItems]="pencilItems"
    [toolGroupName]="pencils"
    (eventoEnviarDatos)="setSelectedTool($event)"
  ></app-tool>
  <app-tool
    [toolItems]="eraserItems"
    [toolGroupName]="erasers"
    (eventoEnviarDatos)="setSelectedTool($event)"
  ></app-tool>
  <app-tool
    [toolItems]="selectionItems"
    [toolGroupName]="selection"
    (eventoEnviarDatos)="setSelectedTool($event)"
  ></app-tool>

  <app-color></app-color>
</div>
