#aux-canvas {
  position: absolute;
  z-index: 2 !important;
}
/*  */
.btn-container-shield {
  position: absolute;
  z-index: 3; /* over aux component (2), under canvas-shield (4) */
}
.btn-container {
  position: relative;
  z-index: 3; /* over aux component (2), under canvas-shield (4) */

  width: 100%;
  height: 100%;
}
.btn {
  width: 0.4em;
  height: 0.4em;
  border: 2px solid gray;
  z-index: 3;
  position: absolute;
}

.btn1 {
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}

.btn2 {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}

.btn3 {
  bottom: 0;
  left: 0;
  transform: translate(-100%, 100%);
}

.btn4 {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

.btn5 {
  right: 0;
  bottom: 0;
  transform: translate(100%, 100%);
}

.btn6 {
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
}

.btn7 {
  right: 0;
  top: 0;
  transform: translate(100%, -100%);
}

.btn8 {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}

/*  */

.selected-tool,
.Select,
.Move {
  outline: 2px dashed gray;
}

/* shape clases */

.Pentagon {
  clip-path: polygon(50% 0%, 0% 38%, 18% 100%, 82% 100%, 100% 38%);
}

.Hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.Triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.Ellipse {
  clip-path: ellipse(50% 50% at 50% 50%);
}

.Rectangle {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.Star {
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}

.Rhombus {
  clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
}

.Undo {
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

.Redo {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
