<canvas
  #auxCanvas
  id="drawing-div"
  [ngStyle]="{
    top: auxComponent.top + 'px',
    left: auxComponent.left + 'px',
    width: auxComponent.width + 'px',
    height: auxComponent.height + 'px',
    background: auxComponent.background,
  }"
  [ngClass]="auxComponent.componentClass"
>
</canvas>

<div
  *ngIf="
    auxComponent.componentClass == 'Select' ||
    auxComponent.componentClass == 'Move'
  "
  class="resize-button-container"
  [ngStyle]="{
  top: auxComponent.top + 'px',
  left: auxComponent.left + 'px',
  width: auxComponent.width + 'px',
  height: auxComponent.height + 'px',
}"
>
  <div class="resize-button" id="btn1"></div>
  <div class="resize-button" id="btn2"></div>
  <div class="resize-button" id="btn3"></div>
  <div class="resize-button" id="btn4"></div>
  <div class="resize-button" id="btn5"></div>
  <div class="resize-button" id="btn6"></div>
  <div class="resize-button" id="btn7"></div>
  <div class="resize-button" id="btn8"></div>
</div>
