<canvas
  #auxCanvas
  id="aux-canvas"
  [ngStyle]="{
    top: auxComponent.top + 'px',
    left: auxComponent.left + 'px',
    width: auxComponent.width + 'px',
    height: auxComponent.height + 'px',
    background: auxComponent.background,
  }"
  [ngClass]="auxComponent.componentClass"
>
</canvas>
<!-- 
<div
  *ngIf="auxComponent.isRendered"
  class="btn-container selected-tool"
  [ngStyle]="{
  top: auxComponent.top + 'px',
  left: auxComponent.left + 'px',
  width: auxComponent.width + 'px',
  height: auxComponent.height + 'px',
}"
>
  <div class="btn btn1"></div>
  <div class="btn btn2"></div>
  <div class="btn btn3"></div>
  <div class="btn btn4"></div>
  <div class="btn btn5"></div>
  <div class="btn btn6"></div>
  <div class="btn btn7"></div>
  <div class="btn btn8"></div>
</div> -->

<div
  *ngIf="auxComponent.isRendered"
  class="btn-container-shield selected-tool"
  [ngStyle]="{
  top: auxComponent.top + 'px',
  left: auxComponent.left + 'px',
  width: auxComponent.width + 'px',
  height: auxComponent.height + 'px',  
  }"
>
  <div class="btn-container">
    <div class="btn btn1"></div>
    <div class="btn btn2"></div>
    <div class="btn btn3"></div>
    <div class="btn btn4"></div>
    <div class="btn btn5"></div>
    <div class="btn btn6"></div>
    <div class="btn btn7"></div>
    <div class="btn btn8"></div>
  </div>
</div>
