<div
  class="main-container"
  (mousemove)="mainContainerMouseMove($event)"
  (mousedown)="mainContainerMouseDown($event)"
  (mouseup)="onShapeContainerMouseUp()"
  (mouseleave)="mouseLeave()"
  (mouseenter)="mouseEnter()"
  [ngStyle]="{
    zIndex: shapeContainer.zIndex
  }"
>
  <div
    class="canvas-button-container"
    [ngStyle]="{
        top: shapeContainer.top + 'px',
        left: shapeContainer.left + 'px',
        width: shapeContainer.width + 'px',
        height: shapeContainer.height + 'px',
        transform: 'rotate(' + shapeContainer.rotation + 'deg)',
      }"
  >
    <div
      class="aux-canvas-container"
      (mousedown)="onShapeContainerMouseDown($event)"
      (mouseup)="onShapeContainerMouseUp()"
      [ngClass]="{
        selected: this.shapeContainer.componentClass == 'Select',
        selected2: this.shapeContainer.componentClass == 'Select2'
      }"
    >
      <canvas
        #auxCanvas
        class="aux-canvas"
        [ngClass]="shapeContainer.componentClass"
        [style.background]="shapeContainer.background"
      >
      </canvas>
    </div>

    <div
      class="btn-container"
      [ngClass]="{
        selected: this.shapeContainer.componentClass != 'Select'
      }"
      *ngIf="shapeContainer.isRendered"
    >
      <button
        *ngFor="let button of buttons"
        [ngClass]="button.class"
        [style.cursor]="button.name"
        (mousedown)="btnMouseDown(button.id, $event)"
        (mouseup)="btnMouseUp()"
      ></button>
    </div>
  </div>
</div>
