.pixels-container {
  width: 100%;

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 50vw;

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 12px;
        text-align: center;
      }
    }

    li:nth-child(2) {
      border-left: 2px solid gray;
      border-right: 2px solid gray;
    }
  }
}

.zoom-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoom-container {
  > button {
    background-color: antiquewhite;
    width: 1em;
    height: 1em;
  }
}
