<div class="status-bar">
  <div class="pixels-container">
    <ul>
      <li>
        <span class="size"
          >Dimension: {{ canvasDimensions.width }},
          {{ canvasDimensions.height }}pixels</span
        >
      </li>
      <li>
        <span *ngIf="props.height > 0 || props.width > 0">
          {{ props.componentClass }}: {{ props.width }} x
          {{ props.height }}
        </span>
      </li>
      <li>
        <span class="position" *ngIf="!isOutside"
          >Position: {{ cursosrPosition.x }},
          {{ cursosrPosition.y }}pixels</span
        >
      </li>
    </ul>
  </div>

  <!-- <div class="zoom-container">
    <span>100%</span>
    <button></button>
    <input type="range" min="25" max="500" />
    <button></button>
  </div> -->
</div>
