<div class="status-bar">
  <div class="pixels-container">
    <ul>
      <li>
        <span class="size"
          >Size: {{ canvasDimensions.width }},
          {{ canvasDimensions.height }}pixels</span
        >
      </li>
      <li>
        <span
          *ngIf="
            shapeContainerDimension.height > 0 ||
            shapeContainerDimension.width > 0
          "
        >
          Dimension: {{ shapeContainerDimension.width }} x
          {{ shapeContainerDimension.height }}
        </span>

        <span>Points: </span>
      </li>
      <li>
        <span class="position" *ngIf="!isOutside"
          >Position: {{ cursosrPosition.x }},
          {{ cursosrPosition.y }}pixels</span
        >
      </li>
    </ul>
  </div>

  <!-- <div class="zoom-container">
    <span>100%</span>
    <button></button>
    <input type="range" min="25" max="500" />
    <button></button>
  </div> -->
</div>
