.status-bar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
  height: 5vh;
  /* border: 2px solid lightgray; */
}
.status-bar span {
  font-size: 12px;
  text-align: center;
}
.status-bar span:first-child {
  /* border-right: 5px solid gray; */
}

.status-up {
  animation: status-up 400ms ease-in 1;
}

.status-down {
  animation: status-down 400ms ease-in 1;
}

.pixels-container,
.zoom-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoom-container {
  > button {
    background-color: antiquewhite;
    width: 1em;
    height: 1em;
  }
}

@keyframes status-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes status-down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
