.status-bar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
  height: 5vh;
  border: 2px solid lightgray;
}

.status-bar span {
  font-size: 12px;
  border-right: 1px solid gray;
  text-align: center;
}

.pixels-container,
.zoom-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoom-container {
  > button {
    background-color: antiquewhite;
    width: 1em;
    height: 1em;
  }
}
