.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.toolbar-canvas-container {
  height: 95vh;
  display: flex;
  justify-content: flex-start;
}

.canvas-container {
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: none;
  flex: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
@media (min-width: 0px) {
  .canvas-container {
    background-color: red;
  }

  .toolbar-canvas-container {
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  .canvas-container {
    background-color: rgb(0, 17, 255);
  }
  .toolbar-canvas-container {
    flex-direction: row;
  }
  .toolbar-container {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .canvas-container {
    background-color: rgb(234, 0, 255);
  }
}

@media (min-width: 992px) {
  .canvas-container {
    background-color: rgb(9, 255, 0);
  }
}

@media (min-width: 1200px) {
  .canvas-container {
    background-color: rgb(9, 255, 0);
  }
} */
