<div
  class="toolbar-canvas-container"
  (wheel)="onWheel($event, { passive: false })"
>
  <div class="canvas-statusbar-container">
    <div
      class="canvas-main-container"
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp()"
    >
      <canvas-component></canvas-component>
    </div>

    <div class="status-bar-container">
      <statusbar-component></statusbar-component>
    </div>
  </div>
  <toolbar-component></toolbar-component>
</div>
