.toolbar-container {
  /* position: fixed;
  left: 0;
  top: 0; */

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.toolbar-container span {
  font-size: 12px;
}

.toolbar-container div {
  border-bottom: 2px solid rgb(198, 198, 198);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .shapes-container,
.options-container,
.color-container {
  border-bottom: 2px solid rgb(198, 198, 198);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
