.toolbar-container {
  overflow: auto;
  height: 100%;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 239, 239);
}

/* .toolbar-container:hover {
  scrollbar-width: thin;
} */
