<div class="toolbar-container">
  <tool-component
    [toolItems]="fileItems"
    [toolGroupName]="files"
  ></tool-component>
  <tool-component
    [toolItems]="actionItems"
    [toolGroupName]="actions"
  ></tool-component>
  <tool-component
    [toolItems]="shapeItems"
    [toolGroupName]="shapes"
  ></tool-component>
  <tool-component
    [toolItems]="pencilItems"
    [toolGroupName]="pencils"
  ></tool-component>
  <tool-component
    [toolItems]="selectionItems"
    [toolGroupName]="selection"
  ></tool-component>
  <tool-component
    [toolItems]="eraserItems"
    [toolGroupName]="erasers"
  ></tool-component>
  <color-palette-component></color-palette-component>
</div>
