.tool-container {
  display: grid;
  place-items: center;
  gap: 5px;
  padding: 5px;
}

.tool-container span {
  font-size: 14px;
  text-align: center;
}

.color-input-container {
  display: grid;
  place-items: center;

  .color-chooser {
    cursor: pointer;
    border: 1px solid gray;

    width: 3em;
    height: 3em;
  }
}

.palette {
  list-style: none;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  padding: 2px;
  /* border: 1px solid gray; */

  .palette-item {
    width: 1.2em;
    height: 1.2em;
    border: none;
  }

  .palette-item:hover {
    cursor: pointer;
  }
}
/* * {
  border: 1px solid blue;
} */
