.tool-container {
}

.tool-container span {
  font-size: 14px;
  padding: 0.4em;
  text-align: center;
  width: 100%;
}

.color-input-container {
  display: grid;
  place-items: center;

  .color-chooser {
    cursor: pointer;
    border: 1px solid gray;

    width: 40px;
    height: 40px;
  }
}

.palette {
  list-style: none;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid gray;

  .palette-item {
    width: 1.2em;
    height: 1.2em;
    border: none;
  }

  .palette-item:hover {
    cursor: pointer;
  }
}
