#color-chooser {
  cursor: pointer;
  width: 2.6em;
  height: 2.6em;
  border: 1px solid lightgrey;
  appearance: none;
}

.color-input {
  display: grid;
  place-items: center;
}
.palette {
  list-style: none;
  /* border: 1px solid gray; */
  display: grid;
  place-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  padding: 2px;
}

.palette-item {
  width: 1em;
  height: 1em;
  border: 1px solid gray;
  border-radius: 0.2em;
}

.palette-item:hover {
  cursor: pointer;
}
