.color-chooser {
  cursor: pointer;
  width: 2.6em;
  height: 2.6em;
  border: 1px solid lightgrey;
  border-radius: 0.2em;
}

.color-input {
  display: grid;
  place-items: center;
}
.palette {
  list-style: none;
  /* border: 1px solid gray; */
  display: grid;
  place-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  padding: 2px;
}

.palette-item {
  width: 1em;
  height: 1em;
  border: 1px solid gray;
  border-radius: 0.2em;
}

.tool-container {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  padding: 5px;
  border-bottom: 2px solid lightgray;
}

.tool-container span {
  font-size: 12px;
  text-align: center;
}

/* input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
} */

.palette-item:hover {
  cursor: pointer;
}
